extends layout

block headdata
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(type='text/javascript' src='/javascripts/index.js')

block bodydata
  #city-weather-editor
    #weather-editor-title
      span Создание widget прогноза погоды
      span.hidden Редактирование widget прогноза погоды
    table#weather-editor-parameters(data-id=0)
      tr#weather-editor-titles
        td.city Город
        td.period Количество дней
        td.direction Направление блока
      tr#weather-editor-data
        td.city
          select#city-select
            - each city in cities
              option(value=city.id)=city.name
        td.period
          input(type='number', value=1, min=1, max=7)
        td.direction
          label.checked
            |горизонтальное
            input(type='radio', name='direction', value='0', checked)
          label
            |вертикальное
            input(type='radio', name='direction', value='1')
    #weather-editor-buttons
      .button#weather-editor-new.hidden
        span Новый
      .button#weather-editor-send
        span Сохранить
  #city-weather-code.hidden
    #weather-code-title
      span Вставьте код на страницу
    #weather-code-value
    #weather-code-buttons
      .button#city-weather-code-close
        span Закрыть
  #city-weather-editors.hidden
    #weather-editors-title
      span Созданные widgets
    table#weather-editors-list
      thead
        tr#weather-editors-titles
          td.city Город
          td.period Количество дней
          td.direction Направление блока
          td.buttons
      tbody