extends layout

block headdata
  link(rel='stylesheet', href='/stylesheets/widget.css')
  script(type='text/javascript', src='/javascripts/widget.js')
  script.
    testTask.weather=!{JSON.stringify(city.weather)};
    testTask.setting=!{JSON.stringify(city.setting)};

block bodydata
  #widget-unit(class=city.setting.direction < 1 ? 'horizontal': 'vertical')
    #widget-title=city.name
    #widget-setting
      div День
      select(dir='rtl')
        - for (var i = 0; i < city.setting.period; ++i)
          - if (i < city.weather.length)
            - var someDate = new Date(city.weather[i].time * 1000);
            - var month = someDate.getMonth() + 1, day = someDate.getDate();
            option(value=i).
              #{someDate.getFullYear()}.#{(month < 10 ? '0' : '') + month}.#{(day < 10 ? '0' : '') + day}
    #widget-weather-data
      .weather-data
        #weather-precipIntensity
          span.title Интенсивность осадков
          span.value
        #weather-precipprobability
          span.title вероятность осадков
          span.value
        #weather-temperature
          span.title температура
          span.value
        #weather-humidity
          span.title влажность
          span.value
      .weather-data
        #weather-windSpeed
          span.title Скорость ветра
          span.value
        #weather-cloudCover
          span.title Облачность
          span.value
        #weather-pressure
          span.title Атмосферное давление
          span.value