body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(/images/walper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: #00B7FF;
}

.hidden {
  display: none !important;
}

#city-weather-editor,
#city-weather-code,
#city-weather-editors {
  margin: auto;
}

#city-weather-editor {
  width: 650px;
}

#city-weather-code {
  margin-top: 10px;
  width: 500px;
}

#city-weather-editors {
  margin-top: 10px;
  width: 700px;
  overflow-y: auto;
  max-height: 400px;
}

#weather-editor-title,
#weather-code-title,
#weather-editors-title {
  font-weight: bold;
  font-size: 24px;
  margin: 0px 0px 10px 0px;
  color: white;
  text-transform: uppercase;
  text-shadow: 3px 3px 0.5em black;
  text-align: center;
}

table#weather-editor-parameters,
table#weather-editors-list {
  border-spacing: 0px;
  width: 100%;
}

table#weather-editors-list {
  color: white;
  vertical-align: bottom;
}

table#weather-editor-parameters td,
table#weather-editors-list td {
  padding: 3px 6px 3px 6px;
  text-align: center;
}

tr#weather-editor-titles > td,
tr#weather-editors-titles > td {
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}

tr#weather-editor-data > td.city select {
  border-radius: 10px;
  background-color: white;
  padding: 1px;
}

tr#weather-editor-data > td.period input {
  width: 90%;
  text-align: right;
  border-radius: 10px;
}

tr#weather-editor-data > td.direction label {
  cursor: pointer;
  border: 1px solid #5d925d;
  display: inline-block;
  margin: 0px 5px 0px 0px;
  padding: 3px;
  border-radius: 10px;
  background-color: #5d925d;
}

tr#weather-editor-data > td.direction label.checked {
  background-color: #b3dab3;
  border-color: #b3dab3;
}

tr#weather-editor-data > td.direction input[type='radio'] {
  display: none;
}

#weather-code-value {
  padding: 10px;
  background-color: rgba(167,145,82,0.45);
  color: white;
}

#weather-editor-buttons,
#weather-code-buttons {
  text-align: right;
  padding: 5px;
}

#weather-editors-list > tbody > tr:hover {
  background-color: rgba(110, 110, 110, 0.2);
  cursor: pointer;
}

#weather-editors-list > tbody > tr.edit {
  background-color: rgba(150, 0, 0, 0.45);
}

.button {
  border-width: 2px 1px 1px 2px;
  border-style: solid;
  border-color: #003200;
  display: inline-block;
  padding: 2px 3px 2px 3px;
  cursor: pointer;
  background: #003200;
  background: -webkit-linear-gradient(45deg, #003200, #29b729, #85f17d);
  background: -o-linear-gradient(45deg, #003200, #29b729, #85f17d);
  background: -moz-linear-gradient(45deg, #003200, #29b729, #85f17d);
  background: linear-gradient(45deg, #003200, #29b729, #85f17d);
  border-radius: 8px;
  color: white;
  margin: 0px 2px 0px 0px;
}

.button, tr#weather-editor-data > td.direction label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:active {
  border-top-width: 1px;
  border-left-width: 1px;
  margin: 0px 3px 1px 0px;
}

*::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.15);
  width: 15px;
  height: 15px;
}

/**::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.15);
  width: 15px;
  height: 15px;
}*/

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.35);
}