body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: inline-block;
  color: white;
}

#widget-unit.horizontal {
  display: inline-block;
  padding: 5px;
  border-radius: 12px;
  background-image: url(/images/widget.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#widget-unit.horizontal #widget-title {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 3px white;
}

#widget-unit.horizontal #widget-setting,
#widget-unit.horizontal #widget-weather-data {
  padding: 5px;
  display: table-cell;
}

#widget-unit.horizontal #widget-setting {
  width: 90px;
}

#widget-unit.horizontal #widget-setting div {
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px
}

#widget-unit.horizontal #widget-setting select {
  width: 100%;
  background-color: rgba(0,0,0,0);
  border-width: 0px;
  color: white;
  cursor: pointer;
}

#widget-unit.horizontal #widget-setting select option {
  background-color: #4c9cc1;
}

#widget-unit.horizontal #widget-weather-data > div {
  display: inline-block;
  vertical-align: top;
}

#widget-unit.horizontal #widget-weather-data > div:first-child {
  margin-right: 2px;
}

#widget-unit.horizontal #widget-weather-data > div > div {
  padding: 2px;
  width: 278px;
}

#widget-unit.horizontal #widget-weather-data > div:last-child > div {
  width: 292px;
}

#widget-unit.horizontal #widget-weather-data > div > div span {
  display: inline-block;
}

#widget-unit.horizontal #widget-weather-data > div > div .title {
  font-weight: bold;
  margin-right: 2px;
  text-transform: lowercase;
  width: 170px;
}

#widget-unit.horizontal #widget-weather-data > div > div .value {
  width: 102px;
  text-align: right;
}

#widget-unit.horizontal #widget-weather-data > div:last-child > div .value {
  width: 115px;
}

/* ----------------------------------------- */

#widget-unit.vertical {
  display: inline-block;
  padding: 5px;
  border-radius: 12px;
  background-image: url(/images/widget.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#widget-unit.vertical #widget-title {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 3px white;
}

#widget-unit.vertical #widget-setting,
#widget-unit.vertical #widget-weather-data {
  padding: 5px;
  text-align: center;
}

#widget-unit.vertical #widget-setting div {
  font-weight: bold;
  text-align: left;
  display: inline-block;
  padding-right: 2px;
}

#widget-unit.vertical #widget-setting select {
  width: 90px;
  background-color: rgba(0,0,0,0);
  border-width: 0px;
  color: white;
  cursor: pointer;
}

#widget-unit.vertical #widget-setting select option {
  background-color: #4c9cc1;
}

#widget-unit.vertical #widget-weather-data > div > div {
  padding: 3px;
  margin-bottom: 5px;
}

#widget-unit.vertical #widget-weather-data > div > div span {
  display: block;
}

#widget-unit.vertical #widget-weather-data > div > div .title {
  font-weight: bold;
  text-transform: lowercase;
}

#widget-setting select {
  -webkit-appearance: none;
  -moz-appearance: none;
}